<section class="education">
    <div class="eduhobby-container">
        <div class="content-collumn">
            <div class="title-button-header">
                <h1 class="eduhobby-title">My Education</h1>
                {% if user.is_authenticated %}
                    {% include 'components/edu_add_form.html' %}
                {% endif %}
            </div>
            <div class="content-collumn">
                {% for edu in education_list %}
                <div class="content-row">
                    <dt>
                        &middot; {{ edu.title }} ({{ edu.started_at }} -
                        {% if edu.is_ongoing %}
                        Sekarang)
                        {% else %}
                        {{ edu.ended_at }})
                        {% endif %}
                    </dt>
                    {% if user.is_authenticated %}
                    <div class="action-row">
                        {% include 'components/edu_edit_form.html' %}
                        {% include 'components/edu_delete_modal.html' %}
                    </div>
                    {% endif %}
                </div>
                    {% empty %}
                        <dt>Belom ada data yang ditambah...</dt>
                {% endfor %}
            </div>
        </div>

        <div class="content-collumn">
            <div class="title-button-header"> 
                <h1 class="eduhobby-title">My Hobby</h1>
                {% if user.is_authenticated %}
                    {% include 'components/hobby_add_form.html' %}
                {% endif %}
            </div>

            <div class="content-collumn">
                {% for hobby in hobby_list %}
                    <div class="content-row">
                        <dt>
                            &middot; {{ hobby.title }} </dt>
                        {% if user.is_authenticated %}
                        <div class="action-row">
                            {% include 'components/hobby_edit_form.html' %}
                            {% include 'components/hobby_delete_modal.html' %}
                        </div>
                        {% endif %}
                    </div>
                    {% empty %}
                    <dt>Belom ada data yang ditambah...</dt>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
